<figure class="wp-block-table">
  <table>
    <tbody>
      <tr>
        <td><strong>ICSE</strong></td>
        <td><strong>Locations and Dates</strong></td>
        <td><strong>General Chairs</strong></td>
        <td><strong>Program Chairs</strong></td>
      </tr>
      <tr>
        <th>1st<br />NCSE<br />1975</th>
        <td><strong>Washington DC, USA</strong><br />September 11-12, 1975</td>
        <td>
          <strong>Harlan Mills</strong>, IBM Corporation, USA and&nbsp;<strong
            >Dennis Fife</strong
          >, National Bureau of Standards, USA
        </td>
        <td>
          <strong>Thomas Steel</strong>, Equitable Life Assurance Society, USA
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="3">
          The first conference was called&nbsp;<strong
            >1st National Conference on Software Engineering</strong
          >&nbsp;and was sponsored by&nbsp;<strong
            >National Bureau of Standards</strong
          >&nbsp;and&nbsp;<strong>IEEE Computer Society.</strong>
        </td>
      </tr>
      <tr>
        <th>
          <strong>2nd<br />ICSE<br />1976</strong>
        </th>
        <td>
          <strong>San Francisco, California, USA</strong><br />October 13-15,
          1976
        </td>
        <td>
          <strong>Raymond T. Yeh</strong>, University of Texas at Austin, USA
        </td>
        <td>
          <strong>C.V. Ramamoorthy</strong>, University of California, Berkeley,
          USA
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
          The conference was renamed to&nbsp;<strong
            >2nd International Conference on Software Engineering</strong
          >&nbsp;and was sponsored by&nbsp;<strong
            >Association of Computing Machinery (ACM)</strong
          >,&nbsp;<strong>IEEE Computer Society</strong>, and&nbsp;<strong
            >National Bureau of Standards.</strong
          >
        </td>
      </tr>
      <tr>
        <th>3rd<br />ICSE<br />1978</th>
        <td><strong>Atlanta, Georgia, USA</strong><br />May 10-12, 1978</td>
        <td><strong>Maurice V. Wilkes</strong>, University of Cambridge, UK</td>
        <td><strong>Laszlo Belady</strong>, IBM Corporation, USA</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
          Sponsors:&nbsp;<strong>ACM</strong>,&nbsp;<strong
            >IEEE Computer Society</strong
          >, and&nbsp;<strong>National Bureau of Standards</strong>
        </td>
      </tr>
      <tr>
        <th>4th<br />ICSE<br />1979</th>
        <td><strong>München, Germany</strong><br />September 17-19, 1979</td>
        <td>
          <strong>Friedrich (Fritz) L. Bauer</strong>, Technische Universität
          München, Germany
        </td>
        <td>
          <strong>Manny M. Lehman</strong>, Imperial College, London, UK
          and&nbsp;<strong>Leon G. Stucki</strong>, Boeing Computer Services
          Company, USA
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
          Sponsors:&nbsp;<strong>ACM SIGSOFT</strong>,&nbsp;<strong
            >European Research Office (ERO)</strong
          >,&nbsp;<strong>Gesellschaft für Informatik</strong>, and&nbsp;<strong
            >IEEE Computer Society</strong
          >
        </td>
      </tr>
      <tr>
        <th>5th<br />ICSE<br />1981</th>
        <td>
          <strong>San Diego, California, USA</strong><br />March 9-12, 1981
        </td>
        <td>
          <strong>Seymour Jeffrey</strong>, National Bureau of Standards, USA
        </td>
        <td>
          <strong>Leon G. Stucki</strong>, Boeing Computer Services Company, USA
        </td>
      </tr>
      <tr>
        <th>6th<br />ICSE<br />1982</th>
        <td><strong>Tokyo, Japan</strong><br />September 13-16, 1982</td>
        <td>
          <strong>Yutaka Ohno</strong>, Japan;&nbsp;<strong
            >Koji Kobayashi</strong
          >, Japan and&nbsp;<strong>Raymond T. Yeh</strong>, University of
          Maryland, USA
        </td>
        <td>
          <strong>Victor R. Basili</strong>, University of Maryland, USA
          and&nbsp;<strong>Hajime Enomoto</strong>, Japan
        </td>
      </tr>
      <tr>
        <th>7th<br />ICSE<br />1984</th>
        <td><strong>Orlando, Florida, USA</strong><br />March 26-29, 1984</td>
        <td>
          <strong>T. Straeter</strong>, General Dynamics Electronics, San Diego,
          USA
        </td>
        <td>
          <strong>William E. Howden</strong>, University of California, San
          Diego, USA and&nbsp;<strong>Jean-Claude Rault</strong>, Agence de
          l'Informatique, Paris, France
        </td>
      </tr>
      <tr>
        <th>8th<br />ICSE<br />1985</th>
        <td><strong>London, UK</strong><br />August 28-30, 1985</td>
        <td><strong>Manny M. Lehman</strong>, Imperial College, London, UK</td>
        <td>
          <strong>Barry Boehm</strong>, TRW, USA and&nbsp;<strong
            >Horst Hünke</strong
          >, Commission of the European Communities, Belgium
        </td>
      </tr>
      <tr>
        <th>9th<br />ICSE<br />1987</th>
        <td>
          <strong>Monterey, California, USA</strong><br />March 30 - April 2,
          1987
        </td>
        <td>
          <strong>William E. Riddle</strong>, Software Productivity Consortium,
          USA
        </td>
        <td>
          <strong>Robert Balzer</strong>, USC Information Sciences Institute,
          USA and&nbsp;<strong>Kouichi Kishida</strong>, Software Research
          Associates, Inc., USA
        </td>
      </tr>
      <tr>
        <th>10th<br />ICSE<br />1988</th>
        <td><strong>Raffles City, Singapore</strong><br />April 11-15, 1988</td>
        <td>
          <strong>Tan Chin Nam</strong>, National Computer Board, Singapore
        </td>
        <td>
          <strong>Larry Druffel</strong>, Carnegie Mellon Software Engineering
          Institute (SEI), USA and&nbsp;<strong>Bertrand Meyer</strong>,
          Interactive Software Engineering, Inc., USA
        </td>
      </tr>
      <tr>
        <th>11th<br />ICSE<br />1989</th>
        <td>
          <strong>Pittsburgh, Pennsylvania, USA</strong><br />May 15-18, 1989
        </td>
        <td>
          <strong>Larry Druffel</strong>, Carnegie Mellon Software Engineering
          Institute (SEI), USA
        </td>
        <td>
          <strong>Dines Bjørner</strong>, Dansk Datamatik Center, Denmark
          and&nbsp;<strong>Richard Fairley</strong>, George Mason University,
          USAPC
        </td>
      </tr>
      <tr>
        <th>12th<br />ICSE<br />1990</th>
        <td><strong>Nice, France</strong><br />March 26-30, 1990</td>
        <td><strong>François-Regis Valette</strong>, ONERA-CERT, France</td>
        <td>
          <strong>Peter A. Freeman</strong>, George Mason University,
          USA/University of California, Irvine, USA and&nbsp;<strong
            >Marie-Claude Gaudel</strong
          >, LRI-Université de Paris-Sud, France
        </td>
      </tr>
      <tr>
        <th>13th<br />ICSE<br />1991</th>
        <td><strong>Austin, Texas, USA</strong><br />May 13-17, 1991</td>
        <td>
          <strong>Les Belady</strong>, Microelectronics and Computer Technology
          Corporation, USA
        </td>
        <td>
          <strong>David Barstow</strong>, Schlumberger Laboratory for Computer
          Science, USA and&nbsp;<strong>Koji Torii</strong>, Osaka University,
          Japan
        </td>
      </tr>
      <tr>
        <th>14th<br />ICSE<br />1992</th>
        <td><strong>Melbourne, Australia</strong><br />May 11-15, 1992</td>
        <td><strong>Tony Montgomery</strong>, RMIT University, Australia</td>
        <td>
          <strong>Lori Clarke</strong>, University of Massachusetts, Amherst,
          USA and&nbsp;<strong>Carlo Ghezzi</strong>, Politecnico di Milano,
          Italy
        </td>
      </tr>
      <tr>
        <th>15th<br />ICSE<br />1993</th>
        <td><strong>Baltimore, Maryland, USA</strong><br />May 17-21, 1993</td>
        <td><strong>Victor R. Basili</strong>, University of Maryland, USA</td>
        <td>
          <strong>Richard DeMillo</strong>, Purdue University, USA
          and&nbsp;<strong>Takuya Katayama</strong>, Tokyo Institute of
          Technology, Japan
        </td>
      </tr>
      <tr>
        <th>16th<br />ICSE<br />1994</th>
        <td><strong>Sorrento, Italy</strong><br />May 16-21, 1994</td>
        <td>
          <strong>Bruno Fadini</strong>, Università degli Studi di Napoli
          Frederico II, Italy
        </td>
        <td>
          <strong>Leon Osterweil</strong>, University of Massachusetts, Amherst,
          USA and&nbsp;<strong>Axel van Lamsweerde</strong>, Université
          Catholique de Louvain, Belgium
        </td>
      </tr>
      <tr>
        <th>17th<br />ICSE<br />1995</th>
        <td>
          <a href="http://www.cs.washington.edu/research/se/icse17/"
            ><strong>Seattle, Washington, USA</strong></a
          ><br />April 23-30, 1995
        </td>
        <td><strong>Dewayne Perry</strong>, AT&amp;T Bell Laboratories, USA</td>
        <td>
          <strong>Ross Jeffrey</strong>, University of New South Wales,
          Australia and&nbsp;<strong>David Notkin</strong>, University of
          Washington, USA
        </td>
      </tr>
      <tr>
        <th>18th<br />ICSE<br />1996</th>
        <td><strong>Berlin, Germany</strong><br />March 25-30, 1996</td>
        <td>
          <strong>H. Dieter Rombach</strong>, University of Kaiserslautern,
          Germany
        </td>
        <td>
          <strong>Tom Maibaum</strong>, Imperial College, London, UK
          and&nbsp;<strong>Marvin V. Zelkowitz</strong>, University of Maryland,
          USA
        </td>
      </tr>
      <tr>
        <th>19th<br />ICSE<br />1997</th>
        <td>
          <a href="http://www.icse-conferences.org/1997/index.html"
            ><strong>Boston, Massachusetts, USA</strong></a
          ><br />May 17-23, 1997
        </td>
        <td>
          <strong>W. Richards Adrion</strong>, University of Massachusetts,
          Amherst, USA
        </td>
        <td>
          <strong>Alfonso Fuggetta</strong>, Politecnico di Milano,
          Italy;&nbsp;<strong>Richard N. Taylor</strong>, University of
          California, Irvine, USA and&nbsp;<strong>Anthony I. Wasserman</strong
          >, Software Methods and Tools, USA
        </td>
      </tr>
      <tr>
        <th>20th<br />ICSE<br />1998</th>
        <td>
          <a href="http://icse98.aist-nara.ac.jp/"
            ><strong>Kyoto, Japan</strong></a
          ><br />April 19-25, 1998
        </td>
        <td><strong>Koji Torii</strong>, NAIST, Japan</td>
        <td>
          <strong>Kokichi Futatsugi</strong>, JAIST, Japan and&nbsp;<strong
            >Richard Kemmerer</strong
          >, University California, Santa Barbara, USA
        </td>
      </tr>
      <tr>
        <th>21st<br />ICSE<br />1999</th>
        <td>
          <strong>Los Angeles, California, USA</strong><br />May 16-22, 1999
        </td>
        <td>
          <strong>Barry Boehm</strong>, University of Southern California, USA
        </td>
        <td>
          <strong>David Garlan</strong>, Carnegie Mellon University, USA
          and&nbsp;<strong>Jeff Kramer</strong>, Imperial College, London, UK
        </td>
      </tr>
      <tr>
        <th>22nd<br />ICSE<br />2000</th>
        <td>
          <a href="http://www.ul.ie/~icse2000/"
            ><strong>Limerick, Ireland</strong></a
          ><br />(June 5-7, 2000)
        </td>
        <td><strong>Carlo Ghezzi</strong>, Politecnico di Milano, Italy</td>
        <td>
          <strong>Mehdi Jazayeri</strong>, Technical University of Vienna,
          Austria and&nbsp;<strong>Alexander Wolf</strong>, University of
          Colorado at Boulder, USA
        </td>
      </tr>
      <tr>
        <th>23rd<br />ICSE<br />2001</th>
        <td>
          <a href="http://www.icse-conferences.org/2001/index.html"
            ><strong>Toronto, Ontario, Canada</strong></a
          ><br />May 12-19, 2001
        </td>
        <td>
          <strong>Hausi A. Müller</strong>, University of Victoria, Canada
        </td>
        <td>
          <strong>Mary Jean Harrold</strong>, Georgia Institute of Technology,
          USA and&nbsp;<strong>Wilhelm Schäfer</strong>, University of
          Paderborn, Germany
        </td>
      </tr>
      <tr>
        <th>24th<br />ICSE<br />2002</th>
        <td>
          <a href="http://www.icse-conferences.org/2002/index.html"
            ><strong>Orlando, Florida, USA</strong></a
          ><br />May 19-24, 2002
        </td>
        <td>
          <strong>Will Tracz</strong>, Lockheed Martin Systems Integration,
          Owego, USA
        </td>
        <td>
          <strong>Michal Young</strong>, University of Oregon, USA
          and&nbsp;<strong>Jeff Magee</strong>, Imperial College, London, UK
        </td>
      </tr>
      <tr>
        <th>25th<br />ICSE<br />2003</th>
        <td>
          <a href="http://www.icse-conferences.org/2003/index.html"
            ><strong>Portland, Oregon, USA</strong></a
          ><br />May 3-10, 2003
        </td>
        <td>
          <strong>Lori Clarke</strong>, University of Massachusetts, Amherst,
          USA
        </td>
        <td>
          <strong>Laurie Dillon</strong>, Michigan State University, USA
          and&nbsp;<strong>Walter Tichy</strong>, University of Karlsruhe,
          Germany
        </td>
      </tr>
      <tr>
        <th>26th<br />ICSE<br />2004</th>
        <td>
          <a href="http://www.icse-conferences.org/2004/index.html"
            ><strong>Edinburgh, Scotland, United Kingdom</strong></a
          ><br />May 23-28, 2004
        </td>
        <td>
          <strong>Anthony Finkelstein</strong>, University College London, UK
        </td>
        <td>
          <strong>Jacky Estublier</strong>, Université Grenoble, France
          and&nbsp;<strong>David S. Rosenblum</strong>, University College
          London, UK
        </td>
      </tr>
      <tr>
        <th>27th<br />ICSE<br />2005</th>
        <td>
          <a href="http://www.icse-conferences.org/2005/Home/index.shtml"
            ><strong>St. Louis, Missouri, USA</strong></a
          ><br />May 15-21, 2005
        </td>
        <td>
          <strong>Gruia-Catalin Roman</strong>, Washington University in St.
          Louis, USA
        </td>
        <td>
          <strong>William Griswold</strong>, University of California, San
          Diego, USA and&nbsp;<strong>Bashar Nuseibeh</strong>, The Open
          University, UK
        </td>
      </tr>
      <tr>
        <th>28th<br />ICSE<br />2006</th>
        <td>
          <a href="http://www.icse-conferences.org/2006/index.html"
            ><strong>Shanghai, China</strong></a
          ><br />May 20-28, 2006
        </td>
        <td>
          <strong>Leon Osterweil</strong>, University of Massachusetts, Amherst,
          USA
        </td>
        <td>
          <strong>H. Dieter Rombach</strong>&nbsp;Fraunhofer Institute for
          Experimental Software Engineering (IESE), Germany and&nbsp;<strong
            >Mary Lou Soffa</strong
          >, University of Virginia, USA
        </td>
      </tr>
      <tr>
        <th>29th<br />ICSE<br />2007</th>
        <td>
          <a href="http://www.icse-conferences.org/2007/index.html"
            ><strong>Minneapolis, Minnesota, USA</strong></a
          ><br />May 20-26, 2007
        </td>
        <td><strong>John Knight</strong>, University of Virginia, USA</td>
        <td>
          <strong>Wolfgang Emmerich</strong>, University College London, UK
          and&nbsp;<strong>Gregg Rothermel</strong>, University of Nebraska,
          Lincoln, USA
        </td>
      </tr>
      <tr>
        <th>30th<br />ICSE<br />2008</th>
        <td>
          <a href="http://www.icse-conferences.org/2008/index.html"
            ><strong>Leipzig, Germany</strong></a
          ><br />May 10-18, 2008
        </td>
        <td>
          <strong>Wilhelm Schäfer</strong>, University of Paderborn, Germany
        </td>
        <td>
          <strong>Matthew Dwyer</strong>, University of Nebraska, Lincoln, USA
          and&nbsp;<strong>Volker Gruhn</strong>, Universität Leipzig, Germany
        </td>
      </tr>
      <tr>
        <th>31st<br />ICSE<br />2009</th>
        <td>
          <a href="http://www.cs.uoregon.edu/events/icse2009/home/"
            ><strong>Vancouver, British Columbia, Canada</strong></a
          ><br />May 16-24, 2009
        </td>
        <td><strong>Stephen Fickas</strong>, University of Oregon, USA</td>
        <td>
          <strong>Jo Atlee</strong>, University of Waterloo, Canada
          and&nbsp;<strong>Paola Inverardi</strong>, University of L'Aquila,
          Italy
        </td>
      </tr>
      <tr>
        <th>32nd<br />ICSE<br />2010</th>
        <td>
          <a href="http://www.sbs.co.za/ICSE2010/"
            ><strong>Cape Town, South Africa</strong></a
          ><br />May 2-8, 2010
        </td>
        <td>
          <strong>Judith Bishop</strong>, University of Pretoria, South Africa
          and<strong>&nbsp;Jeff Kramer</strong>, Imperial College, London, UK
        </td>
        <td>
          <strong>Prem Devanbu</strong>, University of California, Davis, USA
          and&nbsp;<strong>Sebastian Uchitel,</strong>&nbsp;Imperial College,
          London, UK
        </td>
      </tr>
      <tr>
        <th>33rd<br />ICSE<br />2011</th>
        <td>
          <strong
            ><a href="http://2011.icse-conferences.org/"
              >Honolulu, Hawaii, USA</a
            ></strong
          ><br />May 21-28, 2011
        </td>
        <td>
          <strong>Richard Taylor</strong>, University of California, Irvine, USA
        </td>
        <td>
          <strong>Harald Gall</strong>, University of Zürich, Switzerland
          and&nbsp;<strong>Neno Medvidovic</strong>, University of Southern
          California, USA
        </td>
      </tr>
      <tr>
        <th>34th<br />ICSE<br />2012</th>
        <td>
          <strong
            ><a href="http://www.icse2012.org/">Zürich, Switzerland</a></strong
          ><br />June 2-9, 2012
        </td>
        <td>
          <strong>Martin Glinz</strong>, University of Zürich, Switzerland
        </td>
        <td>
          <strong>Gail Murphy</strong>, University of British Columbia, Canada
          and&nbsp;<strong>Mauro Pezzè</strong>, University of Lugano,
          Switzerland and University of Milano Bicocca, Italy
        </td>
      </tr>
      <tr>
        <th>35th<br />ICSE<br />2013</th>
        <td>
          <strong
            ><a href="http://2013.icse-conferences.org/"
              >San Francisco, USA</a
            ></strong
          ><br />May 18-26, 2013
        </td>
        <td><strong>David Notkin</strong>, University of Washington, USA</td>
        <td>
          <strong>Betty H. Cheng</strong>, Michigan State University, USA
          and&nbsp;<strong>Klaus Pohl</strong>, University of Duisburg-Essen,
          Germany
        </td>
      </tr>
      <tr>
        <th>36th<br />ICSE<br />2014</th>
        <td>
          <strong
            ><a href="http://2014.icse-conferences.org/"
              >Hyderabad, India</a
            ></strong
          ><br />May 31 - June 7,2014
        </td>
        <td>
          <strong>Pankaj Jalote</strong>, Indraprastha Institute of Information
          Technology (IIIT) Delhi, India
        </td>
        <td>
          <strong>Lionel Briand</strong>,Simula Research Laboratory
          and&nbsp;<strong>Andre van der Hoek</strong>, University of
          California, Irvine, USA
        </td>
      </tr>
      <tr>
        <th>37th<br />ICSE<br />2015</th>
        <td>
          <strong
            ><a href="http://2015.icse-conferences.org/"
              >Firenze, Italy</a
            ></strong
          ><br />May 16-24, 2015
        </td>
        <td>
          <strong>Antonia Bertolino</strong>, Italian National Research Council
          (CNR), Pisa, Italy
        </td>
        <td>
          <strong>Gerardo Canfora</strong>,University of Sannio, Italy
          and&nbsp;<strong>Sebastian Elbaum</strong>, University of Nebraska,
          Lincoln, USA
        </td>
      </tr>
      <tr>
        <th>38th<br />ICSE<br />2016</th>
        <td>
          <strong
            ><a href="http://2016.icse-conferences.org/"
              >Austin, Texas, USA</a
            ></strong
          ><br />May 14-22, 2016
        </td>
        <td>
          <strong>Laura K. Dillon</strong>, Michigan State University, USA
        </td>
        <td>
          <strong>Willem Visser</strong>,University of Stellenbosch, South
          Africa and&nbsp;<strong>Laurie Williams</strong>, North Carolina State
          University, USA
        </td>
      </tr>
      <tr>
        <th>39th<br />ICSE<br />2017</th>
        <td>
          <strong
            ><a href="http://icse2017.gatech.edu/"
              >Buenos Aires, Argentina</a
            ></strong
          ><br />May 20-28, 2017
        </td>
        <td>
          <strong>Sebastian Uchitel</strong>, University of Buenos Aires,
          Argentina
        </td>
        <td>
          <strong>Alessandro Orso</strong>, Georgia Institute of Technology, USA
          and&nbsp;<strong>Martin Robillard</strong>, McGill University, Canada
        </td>
      </tr>
      <tr>
        <th>40th<br />ICSE<br />2018</th>
        <td>
          <a href="http://www.icse2018.org/">Gothenburg, Sweden</a><br />May 27
          - June 3, 2018
        </td>
        <td>
          <strong>Ivica Crnkovic</strong>, Chalmers University of Technology and
          University of Gothenburg, Sweden
        </td>
        <td>
          <strong>Marsha Chechik</strong>, University of Toronto, Canada
          and&nbsp;<strong>Mark Harmon</strong>, University College London, UK
        </td>
      </tr>
      <tr>
        <th>41st<br />ICSE<br />2019</th>
        <td>
          <a href="https://2019.icse-conferences.org/">Montréal, Canada</a
          ><br />May 2019
        </td>
        <td><strong>Jo Atlee</strong>, University of Waterloo, Canada</td>
        <td>
          <strong>Jon Whittle</strong>, University of Lancaster, UK
          and&nbsp;<strong>Tevfik Bultan</strong>, University of California,
          Santa Barbara, USA
        </td>
      </tr>
      <tr>
        <th>42nd<br />ICSE<br />2020</th>
        <td>
          <a href="https://conf.researchr.org/home/icse-2020">Seoul, Korea</a
          ><br />July 2020
        </td>
        <td>
          <strong>Doo-Hwan Bae</strong>, KAIST, Korea and&nbsp;<strong
            >Gregg Rothermel</strong
          >, University of Nebraska, USA
        </td>
        <td>
          <strong>Jane Cleland-Huang</strong>, University of Notre Dame, USA
          and&nbsp;<strong>Darko Marinov</strong>, University of Illinois at
          Urbana-Champaign, USA
        </td>
      </tr>
      <tr>
        <th>43rd<br />ICSE<br />2021</th>
        <td>
          <a href="https://conf.researchr.org/home/icse-2021">Madrid, Spain</a
          ><br />May 2021
        </td>
        <td>
          <strong>Natalia Juristo</strong>, Universidad Politécnica de Madrid,
          Spain
        </td>
        <td>
          <strong>Arie van Deursen</strong>, Delft University of Technology, The
          Netherlands and&nbsp;<strong>Tao Xie</strong>, Peking University,
          China
        </td>
      </tr>
      <tr>
        <th>44th<br />ICSE<br />2022</th>
        <td>
          <a href="https://conf.researchr.org/home/icse-2022">Pittsburgh, USA</a
          ><br />May 2022
        </td>
        <td><strong>Matt Dwyer</strong>, University of Virginia, USA</td>
        <td>
          <strong>Daniela Damian</strong>, University of Victoria, Canada
          and&nbsp;<strong>Andreas Zeller</strong>, Saarland University, Germany
        </td>
      </tr>
      <tr>
        <th>45th<br />ICSE<br />2023</th>
        <td>
          <a href="https://conf.researchr.org/home/icse-2023"
            >Melbourne, Australia</a
          ><br />May 2023
        </td>
        <td><strong>John Grundy</strong>, Monash University, Australia</td>
        <td>
          <strong>Massimiliano Di Penta</strong>, University of Sannio, Italy
          and&nbsp;<strong>Lori Pollock</strong>, University of Delaware, USA
        </td>
      </tr>
      <tr>
        <th>46th<br />ICSE<br />2024</th>
        <td>Lisbon, Portugal<br />Apr 2024</td>
        <td>
          <strong>Rui Maranhao Abreu</strong>, University of Porto, Portugal
          and&nbsp;<strong>Ana C. R. Paiva</strong>, University of Porto,
          Portugal
        </td>
        <td>
          <strong>Abhik Roychoudhury</strong>, National University of Singapore
          and&nbsp;<strong>Margaret-Anne Storey</strong>, University of
          Victoria, Canada
        </td>
      </tr>
      <tr>
        <th>47th<br />ICSE<br />2025</th>
        <td>Ottawa, Canada<br />Apr 2025</td>
        <td>
          <strong>Tim Lethbridge</strong>, University of Ottawa, Canada
          and&nbsp;<strong>Lionel Briand</strong>, University of Ottawa and
          University of Luxembourg
        </td>
        <td>
          <strong>David Lo</strong>, Singapore Management University
          and&nbsp;<strong>Corina Pasareanu</strong>, NASA, USA
        </td>
      </tr>
      <tr>
        <th>48th<br />ICSE<br />2026</th>
        <td>Rio de Janeiro, Brazil<br />Apr 2026</td>
        <td>
          <strong>Marcos Kalinowski</strong>, Pontifical Catholic University of
          Rio de Janeiro, Brazil
        </td>
        <td>
          <strong>Mira Mezini</strong>, Technische Universität Darmstadt,
          Germany and&nbsp;<strong>Tom Zimmermann</strong>, Microsoft Research,
          USA
        </td>
      </tr>
      <tr>
        <th>49th<br />ICSE<br />2027</th>
        <td>Dublin, Ireland<br />Apr 2027</td>
        <td>
          <strong>Brian Fitzgerald</strong>, University of Limerick &amp; Lero,
          Ireland
        </td>
      </tr>
    </tbody>
  </table>
</figure>
